:root {
  --maincool-grey: rgba(58, 72, 86, 1);
  --mainred: rgba(200, 16, 46, 1);
  --maindark-red: rgba(134, 38, 51, 1);
  --mainblueprimary: rgba(0, 109, 156, 1);
  --mainbluehover: rgba(0, 91, 131, 1);
  --mainbluesecondary: rgba(0, 75, 120, 1);
  --greys-1: rgba(230, 234, 238, 1);
  --greys-2: rgba(200, 204, 208, 1);
  --greys-3: rgba(97, 105, 114, 1);
  --greys-4: rgba(82, 82, 82, 1);
  --accentspurple: rgba(92, 6, 140, 1);
  --accentsteal: rgba(0, 124, 138, 1);
  --accentslight-blue: rgba(184, 212, 246, 1);
}



/* Home page css */

.round-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}


.icon-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}


.main-card{
  background-color: var(--mainblueprimary);

}

.event-card {
  margin-bottom: 20px;
  height: 100%;
  color: var(--greys-1) !important;
  
}

.event-card h6{
  color: var(--greys-1) !important;
}
.event-card .event-title {
  font-size: 24px;
  font-weight: bold;
}

.first-row {
  min-height: 65vh !important;
  width: 95vw !important;
}
.first-row img {
  width: 70vw; 
  height: 100%;
}

.hero-container{
  margin-left: 24px;
  margin-right: 24px;
}

.event-card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  align-content: space-around;
}

.event-category-card{
  border-radius: 50%;
  border: 2px solid black;
  padding: 18px;
}

.category-img{
  height: 86px;
  width: 86px;
}

.events .event-card{
  color: black !important;
}

.col-md-9 h2{
  height: 120px;
  background-color: var(--mainblueprimary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}

.main-event-detail-container{
  display: flex;
  flex-direction: column;
  gap: 24px !important;
}


.detail-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.btns-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.qr-btns-container{
  display: flex;
  justify-content: space-between;
}

.event-category{
  margin-top: 64px !important;
  margin-bottom: 64px !important;
  width: 90vw;
  padding: 12px 24px;
  justify-content: center !important;
  align-items: center !important;
}

.selected-link{
  color: var(--mainblueprimary);
}


.chart{
  width: 800px;
}

.dashboard-contianer{
  display: flex !important;
  gap: 36px !important;
}


